.env

*.pyc
__pycache__/
*.pyo
*.pyd

*.db
*.sqlite3
*.log
*.pid
*.swp
*.bak
*.orig
*.coverage
*.DS_Store
*.egg-info/
*.egg
*.vscode/
*.idea/
*.mypy_cache/
*.pytest_cache/
*.tox/
*.coverage.*

alembic.ini
migrations/
*.env
alembic/